<ion-header class="header">
  <ion-title><h1>FitMoment</h1></ion-title>
  <ion-icon class="insta" name="logo-instagram"></ion-icon>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col class="ceu">
        <ion-icon name="cloud-outline" class="nuvem"></ion-icon>
        <ion-icon name="cloud-outline" class="nuvem"></ion-icon>
        <ion-icon name="cloud-outline" class="nuvem"></ion-icon>
        <ion-icon name="cloud-outline" class="nuvem"></ion-icon>
        <ion-icon name="cloud-outline" class="nuvem"></ion-icon>
        <ion-icon name="cloud-outline" class="nuvem"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="grama">
        <ion-icon name="bicycle-outline" class="bike"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="terra">
        <ion-icon name="cloud-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
